/*full screen the map*/
html { height:100%;}
body {
    height:100%;
    padding: 0;
    margin: 0;
}
#map {
    width: 100%;
    height: 95%;
}

.info {
    z-index: 1000;
    position: absolute;
    right: 20px;
    top: 20px;
    float: right;
    padding: 6px 8px;
    font: 14px Arial, Helvetica, sans-serif;
    text-align: right;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.info h1 {
    font-size: 16px;
    margin: 0 0 5px;
    color: #313131;
}

.update {
    color: #9A7EE3;
}

.legend {
    line-height: 16px;
    width: 140px;
    color: #333333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.9;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;
}

.legend p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;
}

#credits p {
    margin-top: 5px;
    font-size: 12px;
    font: Garamond;
    text-align: left;
    line-height: 16px;
}

.marker-color1{
    color: #b2e390;
}

.marker-color2 {
    color: #6ba78a;
}

.fa {
    font-size: 9px;
}

.leaflet-tooltip.feature-label {
    background-color: transparent;
    border: transparent;
    box-shadow: none;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Titillium Web', sans-serif;
    text-shadow: 0 0 2px #FFFFFF;
    color: rgba(35, 35, 35, 0.78)
}

